---
---

<div>
  <p class="text-2xl font-bold underline">Work Experiences:</p>
  <ul class="mt-1">
    <li>
      <strong
        >Security Consultant @ <a href="https://gbrands.com/">Global Brands</a> (5/2023-Now)</strong
      ><br />
      - OnPrem Active Directory Security Assessment & Hardening.<br />
      - Implement Microsoft Defender for Identity. <br />
      - Implement Microsoft Defender for Oce 365.
    </li>
    <li>
      <strong
        >Senior infrastructure manager @ <a
          href="http://www.palmhillsdevelopments.com/en-us/home"
          >Palm Hills Developments</a
        > (1/2023-4/2023)</strong
      ><br />
      - Leading Technical projects in alignment of business goals.<br />
      - Supervise infrastructure team,and help Technical support Team as second line
      support.<br />
      - Ensure that the technology infrastructure runs smoothly and efciently, especially
      for core business applications - CRM & ERP.<br />
      - Maintain, upgrade and manage the company systems, hardware, and networks.<br
      />
      - Manage Office 365 & Azure Tenants, On Prem AD & VMWare vSphare with Lenovo
      Blades & SAN
    </li>
    <li>
      <strong
        >Active Directory Support Engineer @ <a
          href="http://www.palmhillsdevelopments.com/en-us/home">Microsoft</a
        > (7/2021-12/2022)</strong
      ><br />
      - Support all <i>Active Directory</i> technologys for MEA customers.<br />
      - Mentor for 3 Team members.
    </li>
    <li>
      <strong
        >Associated Manager @ <a href="https://iffco.com">IFFCO Saudi Arabia</a>
        (11/2010-5/2021)</strong
      ><br />
      - IT Associated Manager : Manage team across KSA.<br />
      - Manage IT Assets, licenses and Purchases.<br />
      - System & Network Administrator.<br />
      - Secure Servers & Workstations with Symantec EndPoint.<br />
      - Support Sales rep HandHeld HW & SW.
    </li>
    <li>
      <strong
        >Team Leader @ <a href="www.ibm.com">IBM</a> in Ministry of interior, Passport
        Issue Project (11/2008-11/2010)</strong
      ><br />
      - Manage Microsoft products: Windows server, AD & clusters.<br />
      - Secure Servers & Workstations with Symantec EndPoint.<br />
      - Manage IBM TSM backup.
    </li>
    <li>
      <strong>Microsoft instructor (Part time 2008-2010)</strong><br />
      - Teach MCSE 2003 & Exchange 2007 courses.
    </li>
    <li>
      <strong
        >System Administrator @ <a href="https://iffco.com">IFFCO Egypt</a> (2/2006-11/2008)</strong
      ><br />
      - Users Support (PC - Laptop).<br />
      - From 6-2007: support servers & network.<br />
      - Manage IT Assets, licenses and Purchases.
    </li>
    <li>
      <strong
        >Help Disk @ <a href="http://www.sima-group.com/">SIMA</a> (6/2003-2/2006)</strong
      ><br />
      - Users Support (PC,Laptop & Printers).<br />
      - Software Developer VB.Net (Windows Application, Web Application).<br />
      - SQL Database Administrator.<br />
    </li>
    <li>
      <strong>Help Disk @ _Elkateb Computers_ (2/2022-11/2003)</strong><br />
      - HelpDesk<br />
      - Users & Computers Support (PC,Laptop & Printers).
    </li>
  </ul>
  <hr />
  <p class="text-2xl font-bold underline mt-6">Certificates:</p>
  <ul>
    <li>SC-300 Microsoft Identity and Access Administrator</li>
    <li>SC-200 Microsoft Security Operations Analyst</li>
    <li>MSITPro 2012</li>
    <li>Exchange 2007</li>
    <li>MCSA 2003</li>
    <li>VB.Net 2003 (Windows & Web)</li>
  </ul>
  <a
    href="https://learn.microsoft.com/en-us/users/ahmedbayoumy-2721/transcript/d9w5za2g1lrxow1"
  >
    Microsoft Transcript</a
  >
</div>
