---
---

<div>

  <p class="text-2xl font-bold underline "> Work Experiences:</p>
  <ul class="mt-1">
    <li>
      <strong>Active Directory Support Engineer @ <a href="www.microsoft.com">Microsoft</a> (7/2021-12/2022)</strong><br>
      - Support all <i>Active Directory</i> technologys for MEA customers.<br>
      - Mentor for 3 Team members.
    </li>
    <li>
      <strong>Associated Manager @ <a href="https://iffco.com">IFFCO Saudi Arabia</a> (11/2010-1/2011)</strong><br>
      - IT Associated Manager : Manage team across KSA.<br>
      - Manage IT Assets, licenses and Purchases.<br>
      - System & Network Administrator.<br>
      - Secure Servers & Workstations with Symantec EndPoint.<br>
      - Support Sales rep HandHeld HW & SW.
    </li>
    <li>
      <strong>Team Leader @ <a href="www.ibm.com">IBM</a> in Ministry of interior, Passport Issue Project (11/2008-11/2010)</strong><br>
      - Manage Microsoft products: Windows server, AD & clusters.<br>
      - Secure Servers & Workstations with Symantec EndPoint.<br>
      - Manage IBM TSM backup.
    </li>
    <li>
      <strong>Microsoft instructor (Part time 2008-2010)</strong><br>
      - Teach MCSE 2003 & Exchange 2007 courses.
    </li>
    <li>
      <strong>System Administrator @ <a href="https://iffco.com">IFFCO Egypt</a> (2/2006-11/2008)</strong><br>
      - Users Support (PC - Laptop).<br>
      - From 6-2007: support servers & network.<br>
      - Manage IT Assets, licenses and Purchases.
    </li>
    <li>
      <strong>Help Disk @ <a href="http://www.sima-group.com/">SIMA</a> (6/2003-2/2006)</strong><br>
      - Users Support (PC,Laptop & Printers).<br>
      - Software Developer VB.Net (Windows Application, Web Application).<br>
      - SQL Database Administrator.<br>
    </li>
    <li>
      <strong>Help Disk @ _Elkateb Computers_ (2/2022-11/2003)</strong><br>
      - HelpDesk<br>
      - Users & Computers Support (PC,Laptop & Printers).
    </li>
  </ul>
  <hr>
  <p class="text-2xl font-bold underline mt-6">Certificates:</p>
  <ul>
    <li>SC-200 Microsoft Security Operations Analyst</li>
    <li>SC-300 Microsoft Identity and Access Administrator</li>
    <li>VB.Net 2003 (Windows & Web)</li>
    <li>MCSA 2003</li>
    <li>MSITPro 2012</li>
    <li>Exchange 2007</li>
  </ul>

</div>

