---
---

<section class="mb-8">
  <div class="mb-6 grid grid-cols-3 items-center justify-center gap-4">
    <div class="mb-6 flex items-center justify-center">
      <!-- image div -->
      <div class="flex-col">
        <div class="flex items-center justify-center gap-1">
          <img
            class="mb-2 rounded h-300 w-300 center"
            width="300"
            height="300"
            alt="Ahmed Bayoumy}"
            src="profile.jpg"
          />
        </div>
        <!-- Icons  -->
        <div class="py-1 flex items-center justify-center gap-1">
          <a
            class="unset ml-4 hover:text-text-link"
            href="https://github.com/aabayoumy"
          >
            <i
              class="fa-brands fa-github"
              aria-hidden="true"
              title="Blogster on GitHub"></i>
          </a>

          <a
            class="unset ml-4 hover:text-text-link"
            href="https://www.linkedin.com/in/abayoumy"
            aria-label="Twitter"
          >
            <i
              class="fa-brands fa-linkedin-in"
              aria-hidden="true"
              title="My linkedin"></i>
          </a>

          <a
            class="unset ml-4 hover:text-text-link"
            href="https://twitter.com/abayoumy78"
            aria-label="Twitter"
          >
            <i
              class="fa-brands fa-twitter"
              aria-hidden="true"
              title="My Twitter"></i>
          </a>

          <a
            class="unset ml-4 hover:text-text-link"
            href="Resume.pdf"
            target="_blank"
            aria-label="Resume"
          >
            <i
              class="fa-regular fa-file-pdf"
              aria-hidden="true"
              title="My Resume"></i>
          </a>
        </div>
        <!-- Icons  -->
        <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
      </div>
    </div>
    <!-- image div -->

    <!-- right text div -->
    <div class="flex-col items-start justify-start col-span-2 mr-6">
      <h1
        class="font-bold text-center text-4xl md:text-5xl xtracking-tighter mt-6 overflow-hidden"
      >
        <span
          class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
        >
          Ahmed Bayoumy
        </span>
      </h1>
      <h2
        class="text-xl text-center text-neutral-500 dark:text-neutral-400 mb-6"
      >
        Husband, Father & Administrator!
      </h2>
      <div>
        <p class="mb-8 text-justify">
          👋 Hello, I'm Security Consultant for OnPrem Active Directory & Azure
          Cloud <br />
          Experienced System/Network Administrator with 20+ Years Technical experience.
          Skills include servers, network, analytical thinking and creative problem
          solving. focused on Windows servers & Active Directory.
        </p>
        <hr />
      </div>
    </div>
    <!-- right text div -->
  </div>
</section>
